@font-face {
    font-family: Suisse;
    src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseBold;
    src: url("fonts/SuisseIntl-Bold.otf") format("opentype");
}

body {
    background-color: black;
    color: white;
    font-family: Suisse, sans-serif; /* Optional: Set a default font */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#intro {
    font-size: 3em;
    filter: blur(0.7px);
    -webkit-filter: blur(0.7px);
}

#content {
    font-size: 1.5em;
    line-height: 2; /* Increase line height for better readability */
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}

.bold {
    font-family: SuisseBold;
}

.circle {
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 5px;
    box-shadow: 0 0 20px rgba(215, 215, 215, 0.8); /* Brighter and thicker blue glow */
}

#text-block-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
    margin-top: 20px;
}

#left-block, #right-block {
    min-width: 49%;
    flex: 1;
    margin: 0 15px;
    text-align: left;
    line-height: 1.6; /* Increase line height for left and right blocks */
}

p {
    color: white; /* Ensure all paragraphs have white text */
}
