#intro, #content {
    text-align: center;
    margin: 50px;
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

#text-block-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#left-block, #right-block {
    width: 45%;
    text-align: left;
}
